* {
  margin: 0;
  padding: 0;
}
body {
    background: #fffffe;
}
button {
  cursor:pointer;
  cursor: hand;
}

/* Navbar */
#header {
  background: #e3f6f5;
  border-bottom: 2px solid gray;
  padding: 1rem 0;
  list-style: none;
  display: flex; 
}
#header a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 6rem;
}

/* Main */
main {
  margin: 0 3rem;
}
.titulo {
  text-align: center;
  margin-top: 1rem;
  font-size: 4rem;
}

/* Pagina inicio */
.recetasContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}
/* Card receta */
.receta {
  width: 19%;
  margin: .5rem 1.5rem .5rem 1.5rem;
  border: 2px solid #272343;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}
.receta div {
  height: 100%;
}
.receta img {
  width: 100%;
  border-radius: 17px 17px 0  0;
}
.receta h3 {
  text-align: center;
  padding: .5rem;
  font-size: 1.5rem;
}
.recetaButton {
  width: 70%;
  margin: 10px 15%;
  padding: 5px 0;
  background:#bae8e8;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #272343;
}
.recetaButton:hover {
  background: #b3e1e1;
}
.recetaButton:active {
  padding-top: 3px;
  margin-top: 12px;
}

/* Pagina detalle receta */
.detalleContainer{
  display: flex;
  margin: 5vh 0;
}
.detalleImg {
  width: 30%;
}
.detalleImg img{
  width: 100%;
}
.detalleReceta {
  margin-left: 5vw;
  width: 60%;
  font-size: 1.1rem;
}
.detalleReceta p{
  margin-bottom: 2.5vw;
}
/* Pagina administrador */
.administradorContainer {
  margin: 0 2rem;
}
.administradorContainer hr {
  margin-top: 3vh;
}
.btnSubirContainer {
  margin-top: 1.5rem;

}
.btnSubir {
  margin-left: 2vw;
  padding: 15px;
  background:#82a2a2;
  border-radius: 20px;
  border: none;
  color: whitesmoke;
  font-size: 1.1rem;
  text-decoration: none;
}
#tableContainer {
  overflow-x:auto;
}
table {
  margin: 3rem auto;
  min-width: 90%;
  background: #e3f6f5;
}
table, th, td {
  border: 1px solid #272343;
  border-collapse: collapse;
  padding: 5px;
}
th {
  padding: .5rem;
}
tbody th {
  text-align: start;
  font-weight: lighter;
}
td {
  max-width: 30vw;
  text-overflow: ellipsis;
  overflow: hidden; 
}
td:last-child div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btnEditar {
  padding: 10px 10px;
  background:#e8dfba;
  border-radius: 20px;
  border: none;
  color: #272343;
  text-decoration: none;
  text-align: center;
}
.btnBorrar {
  padding: 10px 10px;
  background: #a2829a;
  border-radius: 20px;
  border: none;
  color: whitesmoke;
  text-decoration: none;
}

/* Pagina subir receta */
form {
  margin: 5vh 2.5vw;
  padding: 2.5vh 2.5vw;
  border: 2px solid #272343;
  border-radius: 20px;
}

form label {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: bolder;
}
input {
  margin: 1.5vh 0;
  border: none;
  border-bottom: 2px solid #272343;
  background: #fffffe;
  color: grey;
  font-size: 1.2rem;
}
input:focus {
  outline:none;
  border-color: #bae8e8;
}
textarea {
  min-height: 60px;
  margin: 1vh 0;
  padding: .5vh 0;
  border: none;
  border-bottom: 2px solid #272343;
  background: #fffffe;
  color: grey;
  font-size: 1.1rem;
}
textarea:focus {
  outline:none;
  border-color: #bae8e8;
}
.formButton{
  width: 90%;
  margin: 2vh 5%;
  padding: 1vh 0;
  background: #bae8e8;
  border: none;
  border-radius: 20px;
}
.formButton:hover {
  background: #b3e1e1;
}


/* Dispositivos md */

@media (min-width:769px) and (max-width:991px) {
  #header a {
    margin-left: 4rem;
    font-size: 1.7rem ;
  }
  main {
    margin: 0 2.5rem;
  }
  .titulo {
    font-size: 3.5rem;
  }
  .receta {
    width: 40%  ;
  }


  .detalleImg {
    width: 50%;
  }
  .detalleReceta {
    width: 40%;
  }
}

/* Dispositivos sm */

@media (max-width:768px) {
  #header a {
    font-size: 1.7rem ;
    margin-left: 2rem;
  }
  main {
    margin: 0 2rem;
  }
  .titulo {
    font-size: 2.5rem;
  }
  .receta {
    width: 85%  ;
  }

  .detalleContainer{
    flex-wrap: wrap;
  }
  .detalleImg {
    margin: 0 auto;
    width: 100%;
  }
  .detalleReceta {
    margin: 0 auto;
    width: 100%;
  }
}